@attribute [Authorize]
@page "/wishlists/{WishlistId:int}/items/new"

@using OpenWish.Web.Client.Components.Wishlist

@inject IWishlistService WishlistService
@inject NavigationManager NavigationManager

@rendermode InteractiveAuto

<h3>Add Item to Wishlist</h3>

<div class="row">
    <div class="col-md-6">
        <FormMappingScope Name="new-wishlist-item">
            <WishlistItemForm Model="@_item" OnSubmit="@HandleSubmit" />
        </FormMappingScope>
    </div>
</div>

@code {
    [Parameter] public int WishlistId { get; set; }
    private readonly WishlistItemModel _item = new();

    private async Task HandleSubmit(WishlistItemModel item)
    {
        await WishlistService.AddItemToWishlistAsync(WishlistId, item);
        NavigationManager.NavigateTo($"/wishlists/{WishlistId}");
    }
}