@attribute [Authorize]
@page "/wishlists"

@using Microsoft.Extensions.Logging
@using OpenWish.Web.Client.Components.Wishlist

@inject ILogger<Index> Logger
@inject IUserContextService UserContextService
@inject IWishlistService WishlistService

@rendermode InteractiveServer

<h3>My Wishlists</h3>

<div class="mb-3">
    <a href="/wishlists/new" class="btn btn-primary">Create New Wishlist</a>
</div>

@if (wishlists == null)
{
    <p>Loading...</p>
}
else if (!wishlists.Any())
{
    <p>No wishlists found. Create one to get started!</p>
}
else
{
    <div class="row">
        @foreach (var wishlist in wishlists ?? [])
        {
            <div class="col-md-4 mb-4">
                <WishlistCard Wishlist="@wishlist" OnDelete="@HandleWishlistDeleted" />
            </div>
        }
    </div>
}

<div class="mt-4">
    <p>RenderMode: @RendererInfo.Name , Interactive: @RendererInfo.IsInteractive.ToString()</p>
</div>

@code {
    private IEnumerable<WishlistModel>? wishlists;
    private string? _userId;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _userId = await UserContextService.GetUserIdAsync();
            await LoadWishlists();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error initializing the Index component.");
        }
    }

    private async Task LoadWishlists()
    {
        if (!string.IsNullOrWhiteSpace(_userId))
        {
            wishlists = await WishlistService.GetUserWishlistsAsync(_userId);
        }
    }

    private async Task HandleWishlistDeleted(WishlistModel wishlist)
    {
        await LoadWishlists();
    }
}
