@attribute [Authorize]
@page "/wishlists/new"

@using OpenWish.Web.Client.Components.Wishlist

@inject IWishlistService WishlistService
@inject NavigationManager NavigationManager
@inject IUserContextService UserContextService
@inject ILogger<NewWishlist> Logger

@rendermode InteractiveAuto

<h3>Create a Wishlist</h3>

@* <FormMappingScope Name="new-wishlist"> *@
    <WishlistForm Model="@_wishlist" OnSubmit="@HandleSubmit" />
@* </FormMappingScope> *@

<OpenWish.Web.Client.Components.Diagnostics.SessionInformation />

@code {
    private readonly WishlistModel? _wishlist = new() { Name = "" };

    private async Task HandleSubmit(WishlistModel submittedWishlist)
    {
        var userId = await UserContextService.GetUserIdAsync();
        if (userId is not null)
        {
            await WishlistService.CreateWishlistAsync(submittedWishlist, userId);
        }
        else
        {
            Logger.LogError("Could not determine UserId from new Wishlist page.");
        }
        NavigationManager.NavigateTo("/wishlists");
    }
}
