@page "/wishlists/new"
@using OpenWish.Application.Services
@using OpenWish.Data.Entities
@using OpenWish.Web.Services
@inject IWishlistService WishlistService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserContextService UserContextService

@attribute [Authorize]

<h3>Create New Wishlist</h3>

<WishlistForm Model="@wishlist" OnSubmit="@HandleSubmit" />

@code {
    private Wishlist wishlist { get; set; } = new() { Name = "Initial" };
    
    private async Task HandleSubmit(Wishlist submittedWishlist)
    {
        var userId = await UserContextService.GetUserIdAsync();
        await WishlistService.CreateWishlistAsync(submittedWishlist.Name, userId);
        NavigationManager.NavigateTo("/wishlists");
    }
}
