@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<Heading Size="HeadingSize.Is1">Counter with Blazorise</Heading>

<Paragraph>Current count: @currentCount</Paragraph>

<Button Color="Color.Primary" Clicked="IncrementCount">Click me</Button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
